
%h2
  = product.title
  .small=product.try(:average_rating)
%p= product.description
%h5.left= product.price
%p.right
  Listed on
  =product.created_at.strftime("%A, #{product.created_at.day.ordinalize} %B ")
  by
  =link_to product.user.firstname #user_path(product.user)
-if current_user == product.user
  = link_to 'Edit', edit_category_product_path(category, product)

<hr>
%h3 Reviews
= render reviews

-if user_signed_in?   
  = render 'reviews/form'


= link_to 'Back', category_path(category)
