
%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

= render reviews

-if user_signed_in?
  %h3 Reviews
  = render 'reviews/form'

-if current_user == product.user
  = link_to 'Edit', edit_category_product_path(category, product)
= link_to 'Back', category_path(category)
